<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <style>
        body {
            text-align: center;
        }

    </style>
</head>
<body>
<div th:replace="base :: navlinksfg"></div>
<h1>Login Page</h1>
<div th:if="${param.error}">
    Invalid username or password
</div>
<form th:action="@{/login}"method="post">
    <div>

        <label>Username:
            <br>
            <input type="text" name="username"/></label>
        <br>
        <label>Password:
            <br>
            <input type="password" name="password"/></label>
        <br>
        <input type="submit" value="Sign in"/>
    </div>
</form>
<div th:if="${param.error}">Invalid Username or password</div>
<div th:if="${param.logout}">You have been successfully logged out</div>

<div th:replace="base ::footerfg"></div>



<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>
</html>